---
layout: default-no-nav
title: Home
---
<script src="/assets/js/typewriter.js"></script>

<div class="home">
  {% include hero.html %}

  {% include cta_2_col.html 
    title="Development"
    heading="NextJS Front End Platform"
    description="At General Mills, our team built a modern headless platform using React to accomodate key brands like Cheerios, Annies, and Cinnamon Toast Crunch"
    img="technology/2022/next/logo.jpg"
    flipped=false
    cta_link="/technology/2022/03/25/building-next-generation-brand-sites.html"
    cta_text="Read More →"
    bkg="blue"
  %}

  {% include cta_2_col.html 
    heading="WordPress with Salesforce Form Submission"
    description="I built the new Haagen Dazs Franchise site with modern branding and an application form that integrates with Salesforce."
    img="technology/2021/wordpress/haagen-dazs.jpg"
    flipped=true
    cta_link="/technology/2021/07/20/salesforce-and-wordpress.html"
    cta_text="Read More →"
    bkg="blue"
  %}

  {% include profile.html
    title="About Me"
  %}





  <!-- Get everything but technology, show first 3 -->
  <!-- {%- if site.posts.size > 0 -%}
  <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
  <ul class="post-list">
    {%- for post in site.posts -%}
    <li class="post-item">
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      <span class="post-meta">{{ post.date | date: date_format }}</span>
      <h3>
        <a class="post-link" href="{{ post.url | relative_url }}">
          {{ post.title | escape }}
        </a>
      </h3>
      {%- if site.show_excerpts -%}
      <p>{{ post.excerpt | strip_html | truncatewords:50 }}</p>
      {%- endif -%}
    </li>
    {%- endfor -%}
  </ul>
  {%- endif -%} -->

  <h2>Find Me Elsewhere</h2>
  <!-- Replace with Social Component Use Excerpt -->
  <!-- Use SVGS instead of text. Don't forget aria-label -->
  <!-- <div class="social-links">
    {%- include social.html -%}
  </div> -->
  <div class="social-container">
    <ul class="social-list">
      {%- if site.email -%}
      <li class="social-item">
        <a class="u-email" href="mailto:{{ site.email }}">email</a>
      </li>
      {%- endif -%}
      <li class="social-item">
        <a href="https://github.com/schaferandrew" target="_blank">github</a>
      </li>
      <li class="social-item">
        <a href="https://www.instagram.com/schafer.andrew" target="_blank">instagram</a>
      </li>
      <!-- <li><a href="https://www.youtube.com/channel/UCwYee07L-umS8KVhbJp809w" target="_blank">youtube</a></li> -->
    </ul>
  </div>


</div>