<header>
    <nav>
        <div class="constrain nav-container">
            <a class="nav-logo" rel="author" href="{{ '/' | relative_url }}">
                <div class="nav-title h1">{{ site.title | escape }}</div>
            </a>
            <hr>
        </div>
        <!-- <input type="checkbox" id="nav" class="hidden" />
        <label for="nav" class="nav-open"><i></i><i></i><i></i></label>
        <div class="nav-container">
            <ul>
                <li class="nav-links"><a href="/culture">culture</a></li>
                <li class="nav-links"><a href="/technology">technology</a></li>
                <li class="nav-links"><a href="/travel">travel</a></li>
                <li class="nav-links"><a href="/about">about</a></li>
                <li class="nav-links"><a href="/contact">contact</a></li>
            </ul>
        </div> -->
    </nav>
</header>