.home_hero_container {
    /* display: flex;
    justify-content: center;
    align-items: center;
    width: 80%; */
    position: relative;
    text-align: center;
}

.home_hero_container p {

    text-align: center;
    top: 20%;
    left: 50%;
    color: black;
    padding: 10px;
    position: absolute;
    transform: translate(-50%,-50%);
    font-size: 4vw;
    

}
.home_hero_container img {
    width: 80%;
}
.cursor {
    display: inline-block;
    height: 40px;
    width: 2px;
    background: #aaa;
    vertical-align: middle;
    animation: 1s blink linear infinite;
  }
  @keyframes blink {
    0%,49% {
      opacity: 0;
    }
    50%,100% {
      opacity: 1;
    }
  }