body {
  background-color: white;
}

.Heading {
  display: flex;
  justify-content: space-between;
  padding: 2em 5em 2em 5em;
  flex-wrap: wrap;
}

.QuickLinks {
  display: flex;
}

.Title {
  font-family: "Josefin Sans", Courier;
  font-size: 60px;
}

.quickLinkAbout {
  border: 0;
  background-color: transparent;
  font-family: "Josefin Sans", Courier;
  align-items: flex-end;
  font-size: 20px;
  transition: .5s;
}

.quickLinkContact {
  border: 0;
  background-color: transparent;
  font-family: "Josefin Sans", Courier;
  align-items: flex-end;
  font-size: 20px;
  transition: .5s;
}

.quickLinkAbout:hover {
  font-weight: bold;
  font-size: 22px;
}

.quickLinkContact:hover {
  font-weight: bold;
  font-size: 22px;
}

.Categories{
  display: flex;
  flex-direction: column;
  margin-left: 20%;
}

img {
  width: 75%;
  height: auto;
  margin-bottom: 1em;
}
