* {
    box-sizing: border-box;
}

*:before,
*:after {
    box-sizing: border-box;
}
html,
body {
 height: 100%;
 position: relative;
}
body {
    font-family: 'Josefin Sans', Courier;
    background-blend-mode: multiply;
    margin: 0px;
    padding-bottom: 20px;
}

p {
    font-weight: 300;
}

hr {
    border: 1px solid black;
}
a:visited {
    text-decoration: none;
    color: black;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1 {
    font-weight: 500;
    margin: 20px;
}

h2 {
    text-align: center;
    margin-top: 30px;
    font-weight: 200;
}

.wrapper {
    margin: 20px;
    min-height: 100%;
    position: relative;
}



/*
Social Icons
*/
.fab,
.fas {
    padding: 20px;
    margin: 10px;
    font-size: 25px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    background: black;
    color: white;
}

.social {
    list-style: none;
    justify-content: center;
    display: flex;
    padding: 0px;
}

.profile_img img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
    border-radius: 10%;
    margin-bottom: 20px;
    margin-top: 30px;
    min-width: 200px;
}

.hide-text {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    display: block;
}

.fab:hover,
.fas:hover {
    opacity: 0.7;
}

/* 
Footer
*/

footer {
    background: #262626;
    margin: 0px;
    padding: 5px;
    color: #f7f7f7;
    text-align: center;
    width: 100%;
}

footer p {
    text-align: left;
    color: #808080;
    padding: 20px;

}

footer li {
    display: inline;
    padding: 10px;
    text-align: center;
}

footer a,
footer a:visited {
    color: #f7f7f7;
    text-decoration: none;
}

footer a:hover {
    color: #808080;
    text-decoration: none;
}

div.copyright {
    text-align: center;
    font-size: 50%;
}

/* 

Navigation Styling 
reference: https://codepen.io/andreasstorm/pen/lriga
*/


* {
    box-sizing: border-box;
}

nav {
    padding: 30px;
}

nav ul {
    float: right;
}

nav ul li {
    display: inline-block;
}

nav ul li:not(:first-child) {
    margin-left: 25px;
}

nav ul li a {
    display: inline-block;
    outline: none;
    color: #1f2227;
    font-size: 16px;
    text-decoration: none;
    letter-spacing: 0.04em;
}

nav ul li a:hover {
    color: #808080;
    text-decoration: none;
}

@media screen and (max-width: 560px) {
    .nav-container {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: -1;
        background: #1f2227;
        opacity: 0;
        transition: all 0.2s ease;
    }

    .nav-container ul {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
    }

    .nav-container ul li {
        display: block;
        float: none;
        width: 100%;
        text-align: right;
        margin-bottom: 10px;
    }

    .nav-container ul li:nth-child(1) a {
        transition-delay: 0.2s;
    }

    .nav-container ul li:nth-child(2) a {
        transition-delay: 0.3s;
    }

    .nav-container ul li:nth-child(3) a {
        transition-delay: 0.4s;
    }

    .nav-container ul li:nth-child(4) a {
        transition-delay: 0.45s;
    }

    .nav-container ul li:nth-child(5) a {
        transition-delay: 0.5s;
    }

    .nav-container ul li:not(:first-child) {
        margin-left: 0;
    }

    .nav-container ul li a {
        padding: 10px 25px;
        opacity: 0;
        color: #fff;
        font-size: 24px;
        font-weight: 600;
        transform: translateY(-20px);
        transition: all 0.2s ease;
    }

    .nav-open {
        position: fixed;
        right: 10px;
        top: 10px;
        display: block;
        width: 48px;
        height: 48px;
        cursor: pointer;
        z-index: 9999;
        border-radius: 50%;
    }

    .nav-open i {
        display: block;
        width: 20px;
        height: 2px;
        background: #1f2227;
        border-radius: 2px;
        margin-left: 14px;
    }

    .nav-open i:nth-child(1) {
        margin-top: 16px;
    }

    .nav-open i:nth-child(2) {
        margin-top: 4px;
        opacity: 1;
    }

    .nav-open i:nth-child(3) {
        margin-top: 4px;
    }
}

#nav:checked+.nav-open {
    transform: rotate(45deg);
}

#nav:checked+.nav-open i {
    background: #fff;
    transition: transform 0.2s ease;
}

#nav:checked+.nav-open i:nth-child(1) {
    transform: translateY(6px) rotate(180deg);
}

#nav:checked+.nav-open i:nth-child(2) {
    opacity: 0;
}

#nav:checked+.nav-open i:nth-child(3) {
    transform: translateY(-6px) rotate(90deg);
}

#nav:checked~.nav-container {
    z-index: 9990;
    opacity: 1;
}

#nav:checked~.nav-container ul li a {
    opacity: 1;
    transform: translateY(0);
}

.hidden {
    display: none;
}