* {
    box-sizing: border-box;
}

*:before,
*:after {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    position: relative;
}

body {
    font-family: 'Josefin Sans', Courier;
    background-blend-mode: multiply;
    margin: 0px;
    padding-bottom: 20px;
}

p {
    font-weight: 300;
}

hr {
    border: 1px solid black;
}

a:visited {
    text-decoration: none;
    color: black;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
}

h1 {
    font-weight: 500;
    margin: 20px;
}

h2 {
    text-align: center;
    margin-top: 30px;
    font-weight: 200;
}

.wrapper {
    margin: 20px;
    min-height: 100%;
    position: relative;
}
li.post-item {
    margin-top: 20px;
}



