/* 
Footer
*/

footer {
    background: #262626;
    color: #f7f7f7;
    font-size: $textSmall;
    text-align: center;
}

.footer-container {
    @media screen and (min-width: $large) {
        display: flex;
        justify-content: space-between;
    }
}

.footer-copyright {
  color: $lightGray;
  padding-bottom: $gap * $oneHalf;

  @media screen and (min-width: $large) {
      padding-bottom: 0;
  }
}

.footer-links {
    a {
        color: $white;
        text-decoration: none;

        &:hover {
            color: $lightGray;
        }
    }
}