/* 
Footer
*/

footer {
    background: #262626;
    margin: 0px;
    padding: 5px;
    color: #f7f7f7;
    text-align: center;
    width: 100%;
}

footer p {
    text-align: left;
    color: #808080;
    padding: 20px;

}
.copyright a {
    margin: 0 5px;
}

footer li {
    display: inline;
    padding: 10px;
    text-align: center;
}

footer a,
footer a:visited {
    color: #f7f7f7;
    text-decoration: none;
}

footer a:hover {
    color: #808080;
    text-decoration: none;
}

div.copyright {
    text-align: center;
    font-size: 50%;
}