---
layout: default
---
<h2>{{page.title}}</h2>

{% if site.posts.size > 0 %}
<ul>
    {% for post in site.posts%}
    {% if post.categories contains page.categories%}
    <li class="post-item">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
            <a class="post-link" href="{{ post.url | relative_url }}">
                {{ post.title | escape }}
            </a>
        </h3>
        {%- if site.show_excerpts -%}
            <p>{{ post.excerpt | strip_html | truncatewords:50 }}</p>
        {%- endif -%}
    </li>
    {%endif%}
    {%endfor%}
</ul>

{%endif%}