---
layout: default
---
<script src="/assets/js/typewriter.js"></script>
<link rel="stylesheet" href="/assets/css/home.css">

<div class="home">
  {%- if page.title -%}
  <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}
  <div class="home_hero_container">
    <img src="/assets/img/hero_mobile.jpg" srcset="assets/img/hero_desktop.jpg 1000w" alt="Valley in Grand Teton National Park">
    <p>
      I am a <span id="message"></span>
      <span class="cursor"></span>
    </p>
  </div>

  {%- if site.posts.size > 0 -%}
  <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
  <ul class="post-list">
    {%- for post in site.posts -%}
    <li>
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      <span class="post-meta">{{ post.date | date: date_format }}</span>
      <h3>
        <a class="post-link" href="{{ post.url | relative_url }}">
          {{ post.title | escape }}
        </a>
      </h3>
      {%- if site.show_excerpts -%}
      {{ post.excerpt }}
      {%- endif -%}
    </li>
    {%- endfor -%}
  </ul>
  {%- endif -%}

</div>